path: F:\bian\pyproject\Aerovision-V1\training\data\processed\aircraft
train: train
val: true
test: test
names:
  0: A21N
  1: A320
  2: A321
  3: A333
  4: A343
  5: A359
  6: A380
  7: ARJ21
  8: B744
  9: B77W
  10: B788
  11: B789
  12: C919
nc: 13
epochs: 10
batch_size: 32
imgsz: 224
patience: 50
save: true
device: cpu
workers: 8
project: runs/classify
name: aircraft_classifier
exist_ok: true
pretrained: true
optimizer: AdamW
lr0: 0.001
lrf: 0.01
momentum: 0.937
weight_decay: 0.0005
warmup_epochs: 3.0
warmup_momentum: 0.8
warmup_bias_lr: 0.1
cos_lr: true
amp: true
plots: true
